.card {
   box-shadow: 0 7px 7px rgba(0, 0, 0, .2)
}

.modale-container{
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   width: 100%;
   height:100%;
   background: rgba(0, 0, 0, .2);
   visibility: hidden;  
   transition: .1s ease-in;

}

.modale{
   position:fixed;
   top:50%;
   left:50%;
   transform: translate(-50%,-50%);
   height:90vh;
   overflow-y: scroll;
   box-shadow: 0 7px 7px rgba(0, 0, 0, .3);
   opacity: 0;
   transition: .1s ease-in;
}

.fa-times {
   cursor: pointer;
}

.show-modale-container {
   visibility: visible;
}

.show-modale {
   opacity: 1;
} 

